doctype html
html
	include partial/head.jade
	body

		#postContainer
			#postTop
				h4#logo #{theme.logo}
				br
				br
				h2#postTitle #{page.title}
				br
				span.postTime(class='fa fa-calendar' aria-hidden='true') #{date(page.date['_i'],'YYYY-M-D')}
				each tag in page.tags.data
					span.postTags(class='fa fa-tags'  aria-hidden='true') &nbsp;#{tag.name}
				br
				br
			-str = markdown(page.content)
			section#articleDiv!= str
		script(src='/js/jquery.min.js')
		script(src='/js/highlight.min.js')
		script(src='/js/start.js')