// index的主要内容div
#content
	-var postsArr = site.posts.data  
	-var postsLength = site.posts.length
	//这个函数是用来对数据根据时间排序的，倒序。
	-
		var tempArr =[];
		for(j=0; j<postsLength; j++)
			tempArr.push(postsArr[j])
		postsArr = tempArr
		postsArr.sort(function(a,b){
			return b.date['_i'] - a.date['_i']
		})
	//到这里，数据就根据时间排好序了。
	-for(var i=0; i<postsLength;i++)
		-var tagsLength = postsArr[i].tags.length
		-var theTags = ''
		-
			for(var j=0;j<tagsLength;j++)
				theTags += (postsArr[i].tags.data[j].name+' ')


		div.indexTitles
			a(href='#{config.root}#{postsArr[i].path}') #{postsArr[i].title}
			br
			span.indexTime(class='fa fa-calendar' aria-hidden='true') #{date(postsArr[i].date,'YYYY-M-D')}
			span.indexTags(class='fa fa-tags' aria-hidden='true') #{theTags}
